@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .pagination li {
    cursor: pointer;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    margin:5px;
  }
  
  .pagination .active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .pagination a {
    color: #fff
  }

  input {
    padding:5px;
    color: #000; /* #000 represents black */
  }

  .custom-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }

  .cancel {
    background-color: red;
  }

  .cancel:hover {
    background-color: red;

  }
  

  form p {
    color:red
  }